body {
  background-image: url("sky.jpeg");
}
.AircraftDetailsContainer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* border: 1px solid red; */
}
.Heading {
  text-align: right;
  padding-right: 10px;
  /* border: 1px solid green; */
}
.Values {
  /* display: flex; */
  justify-content: flex-start;
  text-align: left;
  /* border: 1px solid blue; */
}
.photos {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* border: 1px solid orange; */
}
.headingTxt {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}
.divA {
  width: 200px;
  height: 100px;
  text-align: center;
}
.pastFlightsParent {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: 22px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 1200px;
  font-style: bold;
  font-size: large;
  border: solid black;
  text-decoration: underline;
  background-color: black;
}
.pflights {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 1200px;
  /* font-size: large; */
  text-align: left;
}
.pastFlightsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: solid red; */
  height: 200px;
}
