.navHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 20px;
  /* border: 2px solid green; */
}
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 5px 40px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 20px;
}

.flightTxt {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
  color: white;
}
.divf {
  width: 150px;
  height: 100px;
  text-align: center;
  color: white;
}

.flights {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(7, auto);
  grid-auto-rows: 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 1200px;
  /* font-size: large; */
  /* border: 2px solid green; */
  text-align: left;
}
.flightdetailscontainer {
  overflow: scroll;
  height: 300px;
}
.flightcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: solid red; */
  height: 200px;
  border-bottom: 5px solid black;
}
.flightheading {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(7, auto);
  grid-auto-rows: 22px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 1200px;
  font-style: bold;
  font-size: large;
  border: solid black;
  text-decoration: underline;
  background-color: black;
}
.headingTxt {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 15px;
}
div {
  color: white;
}
p {
  color: black;
}
